[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
signalrcore = "*"
python-dotenv = "*"
mysql-connector-python = "*"
pytest-env = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start = "python src/main.py"
test = "pytest"
lint = "python lint.py -p ../OXYGEN-CS-GRP2-EQ1/src"

[pipenv]
allow_prereleases = true
